@font-face {
    font-family: dc1;
    src: url(/public/assets/fonts/Nexa-ExtraLight.ttf);
}

@font-face {
    font-family: dc2;
    src: url(/public/assets/fonts/Nexa-Heavy.ttf);
}

@font-face {
    font-family: dc3;
    src: url(/public/assets/fonts/Heavitas.ttf);
}
